/* centrar la taula a la pantalla */
table{
    margin: auto;   
}
/* color al text */
h1{
    color:whitesmoke;
}
h2{
    color: rgb(110, 110, 110);
}
h3{
    color: rgb(110, 110, 110);
}
p{
    color: whitesmoke;
}
/* color de fons */
th{
    background-color: rgb(37, 62, 62);
    color: white;
}
td{
    background-color: rgb(17, 32, 14);
    
}
/* Eliminar linies entre files i columnes */
table,th,td{
    border-collapse: collapse;
    border: 0px;
}
/* canvi de color al passa el ratolí */
tr:hover td{
    background-color:rgb(62, 91, 12);
}
